server {
    listen 8080;
    listen 443 ssl;

    server_name whythis.life;
    root /www;

    location ~ /.git/ {
        deny all;
    }

    error_page 500 502 503 504 /500.html;
    client_max_body_size 4G;
    keepalive_timeout 10;
}
