server {

    listen 443;

    ssl    on;
    ssl_certificate    /etc/letsencrypt/live/whythis.life/fullchain.pem;
    ssl_certificate_key    /etc/letsencrypt/live/whythis.life/privkey.pem;

    server_name whythis.life;
    root /www;

    location ~ /.git/ {
        deny all;
    }

    error_page 500 502 503 504 /500.html;
    client_max_body_size 4G;
    keepalive_timeout 10;
}
